<aside class="main-sidebar sidebar-dark-primary elevation-4 position-fixed" style="min-height: 100vh;">
    <!-- Brand Logo -->
    <a href="~/Admin/index3.html" class="brand-link text-center">
        <img src="~/Admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8; width: 40px; height: 40px;">
        <span class="brand-text fw-light ms-2">Admin Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- User Panel -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
            <div class="image">
                <img src="~/Admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block text-white fw-bold">Admin Name</a>
            </div>
        </div>

        <!-- Sidebar Search Form -->
        <div class="form-inline mb-3">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar rounded-start" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sidebar rounded-end">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @if (User.IsInRole("Customer"))
                {
                    <li class="nav-item">
                        <a asp-area="CustomerArea" asp-controller="Order" asp-action="PlaceOrder" class="nav-link">
                            <i class="nav-icon fas fa-cart-plus"></i>
                            <p>Place Order</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="CustomerArea" asp-controller="Order" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-list"></i>
                            <p>My Orders</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="CustomerArea" asp-controller="Order" asp-action="Completed" class="nav-link">
                            <i class="nav-icon fas fa-list"></i>
                            <p>Complete Orders</p>
                        </a>
                    </li>
                }

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a asp-area="AdminArea" asp-controller="OrderManage" asp-action="PendingRequests" class="nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>Pending Requests</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="AdminArea" asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>Proccessed Orders</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="AdminArea" asp-controller="Inventory" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>Inventory</p>
                        </a>
                    </li>
                }

                @if (User.IsInRole("Tailor"))
                {
                    <li class="nav-item">
                        <a asp-area="TailorArea" asp-controller="Home" asp-action="MyAssignedOrders" class="nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>Pending Requests</p>
                        </a>
                    </li>
                }

                

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
